<div class="container">
	<div class="card">
		<div class="card-header">
			<h3>CLIENTES</h3>
		</div>
		<div class="card-body">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>RFC</th>
						<th>CLIENTE</th>
						<th>DIRECCIÓN</th>
						<th>FEC. NAC.</th>
						<th>STATUS</th>
						<th>OPCIONES</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let cliente of clientes" class="text-center">
						<td>{{cliente.rfc}}</td>
						<td>{{cliente.nom_cli}}</td>
						<td>{{cliente.direccion}}</td>
						<td>{{cliente.fec_nac | date:"dd/MM/YYYY"}}</td> <!-- FECHA -->				
						<td *ngIf ="cliente.estado == 1; else inactivo">ACTIVO</td>
						<ng-template #inactivo><p>INACTIVO</p></ng-template>
						<td>
							<button class="btn btn-warning">EDITAR</button>
							<button class="btn btn-danger" style="margin-left: 10px;">BORRAR</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>